.myContainer {
	width:900px;
	height:900px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(3, 1fr);
	gap:20px 50px;
}

.item1 {
background-color:#3a87b3;
}

.item1 div {
background-color:#46a5dc;
}