.myContainer {
	width:900px;
	height:900px;
	display:grid;
	grid-template-columns:repeat(3, 200px);
	grid-template-rows:repeat(3, 200px);
	place-content:center space-between;
	justify-items:center;
	align-items:center;
}

.item1 {
background-color:#3a87b3;

}

.item1 div {
background-color:#46a5dc;
}

.item6 {

}