.myContainer {
	width:900px;
	height:900px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(3, 1fr);
;
}

.item1 {
grid-column:1/-1;
background-color:#3a87b3;
}

.item1 div {
background-color:#46a5dc;
}

.item6 {
grid-column:3/4;
grid-row:1/2;
}